extends ../layout/common
block content
	form(action='/users/create', method='POST').col-md-4
		label(for='name') Name
		input.form-control(type='text', name='name')#name
		label(for='email') Email
		input.form-control(type='text', name='email')#email
		button.btn.btn-primary.my-2 Create