extends ../layout/common
block content
	h4(style='color:purple') Create User
	form(action='/users/create', method='POST')
		label Name
		input.form-control(type='text', name='name')
		button.btn.btn-primary.my-2 Create
	a.btn.btn-secondary(href='/users') Back Users